@font-face {
    font-family: dimon;
    src: url(../../fonts/Dimon-slayer.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dimon;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    padding: 30px;
    /* background: #343e66; */
    background: linear-gradient(#586fca, #343e66);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards {
    width: 250px;
    height: 350px;
    background: #644444;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    perspective: 500px;
    position: relative;
    gap: 10px;
    transition: all ease 0.5s;
}

.cards .cover {
    width: 250px;
    height: 200px;
    /* background: #ff1818; */
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.cards .cover img {
    width: 150px;
    height: 175px;
    object-fit: contain;
    transform: rotateX(-20deg);
    /* background: #eb0404; */
    position: absolute;
    /* top: 50%; */
    transition: all ease 0.5s;
    justify-content: center;
    left: 20%;
}

.cards:hover {
    transform: rotateX(30deg);
}

.cards:hover img {
    transform: rotateX(0deg);
    scale: 1.3;
    top: -10%;
}

button {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

p {
    color: #7aa312;
}