*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html,body{
 width: 100%;
height: 100%;
background: #000;
    color: antiquewhite;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.btn{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    background: #3ac28e;
    color: rgb(0, 0, 0);
    border: none;
    z-index: 2;
}

